.mapboxgl-popup-close-button {
    @apply px-2 hover:bg-primary-400;
}

@media(max-width: 1024px) {
    .mapbox {
        height: calc(100vh - 1.5em - 68px) !important;
    }

    .modal {
        width: calc(98vw - 1rem) !important;
    }
}

@media(max-width: 640px) {
    .mapbox {
        height: calc(80vh - 1.5em - 68px) !important;
    }

    .modal {
        width: calc(95vw - 1rem) !important;
    }
}
